*{
  background-color: #482c2c;
}
h3{
  text-align: center;
  color: rgb(57, 57, 76);
  text-decoration: underline;
  font-weight: bold;
  font-size: 2rem;
}
#clickbtn,#mouseoverbtn{
  background-color: green;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  margin-top: 5rem;
  margin-left: 34rem;
  border: 1.5px solid white;
}
#clickbtn:hover{
  background-color: blue;
}
#mouseoverbtn:hover{
  background-color: orange;
}
p{
  font-size: large;
  font-weight: bold;
  margin-left: 37rem;
  margin-top: 5rem;
  color: black;
}
